html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(48, 48, 48);
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.side-navigation {
    position: fixed;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background:rgb(34, 34, 34)
}

.side-navigation div {
    text-align: center;
    margin: 1em 0;
}

.side-navigation a:link, .side-navigation a:visited {
    color: rgb(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight: 600;
}

.side-navigation a:hover {
    color: rgb(255, 255, 255, 1);
}

.main-page {
    margin-left: 100px;
}

#music-btn{
    position: fixed;
    right: 10vw;
    width: 60px;
}

#music-btn:hover {
    cursor: pointer;
}

#music-status {
    position: fixed;
    right: 10vw;
    top: 15vh;
    width: 60px;
    color: white;
    text-align: center;
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    padding: 5%;
}

.intro-letters {
    position: relative;
    color: white;
    font-size: 6em;
    font-weight: 900;
    transition: all .45s;
}

/* .intro-letters:hover {
    color: aqua;
    bottom: 10px;
} */

.space {
    padding: 15px;
}

.sub-intro {
    color: rgb(255, 255, 255, 0.7);
    font-size: 2em;
    font-weight: 600;
}

.reference {
    text-align: right;
    margin: 2em;
    color: white;
}

.title-container {
    padding: 20px 30px;
}

.title {
    position: relative;
    color: white;
    font-size: 3em;
    font-weight: 900;
    transition: all .45s;
}

.desc {
    color: white;
    font-size: 1em;
    width: 50%;
    padding: 0 30px;
}

#about-me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects {
    height: 100vh;
}

