html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(48, 48, 48);
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.menuBtn {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

#menuBtn {
    display: none;
    position: fixed;
    top: 10vh;
    left: 10vw;
}

.side-navigation {
    position: fixed;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background:rgb(34, 34, 34)
}

.side-navigation div {
    text-align: center;
    margin: 1em 0;
}

.side-navigation a:link, .side-navigation a:visited {
    color: rgb(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight: 600;
}

.side-navigation a:hover {
    /* color: rgb(255, 255, 255, 1); */
    color: aqua;
}

.main-page {
    margin-left: 100px;
}

#music-btn{
    position: fixed;
    right: 10vw;
    top: 8vh;
    width: 60px;
}

#music-btn:hover {
    cursor: pointer;
}

#music-status {
    position: fixed;
    right: 10vw;
    top: 15vh;
    width: 60px;
    color: white;
    text-align: center;
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    padding-left: 5%;
}

.intro-letters {
    position: relative;
    color: white;
    font-size: 6em;
    font-weight: 900;
    transition: all .45s;
}

.intro-letters:hover {
    color: aqua;
    bottom: 10px;
}

.space {
    padding: 15px;
}

.sub-intro {
    color: rgb(255, 255, 255, 0.7);
    font-size: 2em;
    font-weight: 600;
}

.reference {
    text-align: right;
    margin: 2em;
    color: white;
}

.title-container {
    padding: 10px 5%;
}

.title {
    position: relative;
    color: white;
    font-size: 3.5em;
    font-weight: 900;
    transition: all .45s;
}

.desc {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    width: 50%;
    padding-left: 5%;
    line-height: 1.3;
}

#about-me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects {
    height: 100vh;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

@keyframes bounce {
    100% {
        transform: translateY(-15px);
    }
}


@media (max-width: 1045px) {
    .intro-letters {
        font-size: 4em;
    }

    .sub-intro {
        font-size: 1.5em;
    }

    .reference {
        font-size: .7em;
    }

    .title {
        font-size: 2.5em;
    }

    .desc {
        font-size: 1em;
    }

    .space {
        padding: 10px;
    }
}

@media (max-width: 700px) {
    #menuBtn {
        display: block;
    }

    #music-btn {
        top: 5vh;
    }

    #music-status {
        top: 12vh;
    }

    #menuBtn {
        top: 7vh;
    }

    .main-page {
        margin-left: 0;
    }

    .intro-letters {
        font-size: 1.9em;
    }

    .sub-intro {
        font-size: .7em;
    }

    .reference {
        font-size: .5em;
    }

    .title {
        font-size: 1.9em;
    }

    .desc {
        width: 70%;
        font-size: .8em;
    }

    .side-navigation {
        left: -100%;
        transition: all .5s;
        z-index: 2;
    }

    .side-navigation.active {
        left: 0;
    }

    .space {
        padding: 5px;
    }

}